<aside class="fixed z-[100] top-0 bottom-0 left-0 @container w-56 shrink-0 transition-all ease-in-out duration-300 overflow-x-hidden bg-yellow-600 backdrop-blur-md shadow-xl">
  <nav class="absolute w-56 text-yellow-50 py-4 px-6 top-0 bottom-0 min-h-[90vh] h-full z-40">
    <div class="flex flex-col gap-2 xl:gap-4 h-full">
      <a href="{% url 'dashboard' %}" class="select-none">
        <h1 class="text-4xl font-extrabold text-center mt-16 tracking-tight text-yellow-100 drop-shadow-lg">
          <span class="inline-block">InverBono</span>
        </h1>
      </a>

      <div class="mt-20">
        <p class="text-lg font-light text-yellow-50/80">Bonos</p>
        <section class="bg-yellow-500/80 rounded-xl p-2 flex flex-col gap-2 mt-1 shadow-md border border-yellow-200">
          <a href="{% url 'bonds:create_bond' %}" class="flex gap-2 items-center rounded-md p-2 transition-colors hover:bg-yellow-600" title="Registrar un nuevo bono">
            <!-- plus icon -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-5 text-yellow-50">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p class="font-medium">Nuevo Bono</p>
          </a>
          <hr class="border-t border-yellow-200 w-full">
          <a href="{% url 'bonds:list_bonds' %}" class="flex gap-2 items-center rounded-md p-2 transition-colors hover:bg-yellow-600" title="Ver tus bonos registrados">
            <!-- doc icon -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-5 text-yellow-50">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
            </svg>
            <p class="font-medium">Mis bonos</p>
          </a>
        </section>
      </div>

      <div class="grow"></div>

      <div>
      <section class="bg-yellow-500/80 rounded-xl p-2 mb-4 shadow-md border border-yellow-200">
        <a href="{% url 'perfil' %}" class="p-2 rounded-md hover:bg-yellow-600 block transition-colors" title="Ver tu perfil">
            <div class="font-semibold text-lg truncate text-yellow-50 flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 mt-0.5">
                <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
              </svg>
              <p>{{ user.nombres }} {{ user.apellidos }}</p>
            </div>
            <p class="text-xs mt-0.5 truncate text-yellow-100">{{ user.email }}</p>
        </a>
        <form method="POST" action="{% url 'logout' %}" class="mt-1">
            {% csrf_token %}
            <button type="submit" class="w-full text-left p-2 rounded-md text-sm font-semibold flex items-center gap-2 text-red-100 border-2 border-red-300 hover:bg-red-600 bg-red-700 transition shadow-sm focus:outline-none focus:ring-2 focus:ring-red-200" title="Cerrar sesión de tu cuenta">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1"/></svg>
              Cerrar sesión
            </button>
        </form>
      </section>
      </div>
    </div>
  </nav>
</aside>
