@tailwind base;
@tailwind components;
@tailwind utilities;

.bond-input {
    @apply bg-gray-50 rounded-md border-gray-600 border py-1 px-2 placeholder:italic outline-yellow-600 text-yellow-950
}

.bond-label {
    @apply text-gray-800 text-sm
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}


